# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.python-version

# Environments
.venv/
venv/
env/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project secrets / local config
.env
sa.json
keys/

# Test / build caches
.pytest_cache/
.cache/
.dist/
dist/
build/

# CDK outputs
cdk.out/

